{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "legacyDecorators": true
    }
  },
  "plugins": [
    "react",
    "react-native",
    "flowtype",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "arrow-body-style": "warn",
    "global-require": "off",
    "no-useless-concat": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "react/prop-types": "off",
    "import/no-named-as-default-member": "off",
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ]
  },
  "env": {
    "react-native/react-native": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".json"
        ]
      }
    },
    "import/extensions": [
      ".js",
      ".mjs",
      ".jsx"
    ],
    "import/core-modules": [],
    "import/ignore": [
      "node_modules",
      "\\.(coffee|scss|css|less|hbs|svg|json)$"
    ],
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "propWrapperFunctions": [
      "forbidExtraProps",
      "exact",
      "Object.freeze"
    ]
  }
}